In [13]:
import csv
from jobspy import scrape_jobs

jobs = scrape_jobs(
    # site_name=["indeed", "linkedin", "zip_recruiter", "glassdoor", "google"],
    site_name=["linkedin","glassdoor", "google"],
    search_term="Data Scientist",
    google_search_term="Data Scientist",
    job_type="fulltime",
    location="India, Bangalore",
    results_wanted=10,
    hours_old=24,
    # country_indeed='USA',
    
    linkedin_fetch_description=True # gets more info such as description, direct job url (slower)
    # proxies=["208.195.175.46:65095", "208.195.175.45:65095", "localhost"],
)
print(f"Found {len(jobs)} jobs")
print(jobs.head())
jobs.to_csv("jobs.csv", quoting=csv.QUOTE_NONNUMERIC, escapechar="\\", index=False) # to_excel

2025-02-27 15:20:46,796 - INFO - JobSpy:LinkedIn - search page: 1 / 1
2025-02-27 15:20:47,483 - INFO - JobSpy:Glassdoor - search page: 1 / 1
2025-02-27 15:20:48,445 - INFO - JobSpy:Google - finished scraping
2025-02-27 15:20:48,803 - INFO - JobSpy:Glassdoor - finished scraping
2025-02-27 15:20:58,525 - INFO - JobSpy:Linkedin - finished scraping

Found 30 jobs
                 id       site  \
0  gd-1009651202728  glassdoor
1  gd-1009651383955  glassdoor
2  gd-1009652782394  glassdoor
3  gd-1009652820222  glassdoor
4  gd-1009651374728  glassdoor

                                             job_url job_url_direct  \
0  https://www.glassdoor.com/job-listing/j?jl=100...            NaN
1  https://www.glassdoor.com/job-listing/j?jl=100...            NaN
2  https://www.glassdoor.com/job-listing/j?jl=100...            NaN
3  https://www.glassdoor.com/job-listing/j?jl=100...            NaN
4  https://www.glassdoor.com/job-listing/j?jl=100...            NaN

                                               title  \
0               Sr Principal Engineer - Data Science
1                                     Data Scientist
2                                     Data Scientist
3  Sr. Python Developer/Data Scientist - IT- On s...
4                          Data Storytelling Analyst

                    company   location date_posted job_type salary_source  \
0              Bloom Energy  Bengaluru  2025-02-27      NaN   direct_data
1                       SAP  Bengaluru  2025-02-27      NaN   direct_data
2                 Zzazz Inc  Bengaluru  2025-02-27      NaN   direct_data
3  Transworld Systems, Inc.  Bengaluru  2025-02-27      NaN   direct_data
4                 Version 1  Bengaluru  2025-02-27      NaN   direct_data

   ...           emails                                        description  \
0  ...              NaN  Job Description:\nBloom Energy is looking for ...
1  ...  Careers@sap.com  **We help the world run better**\n\nAt SAP, we...
2  ...              NaN  Roles and Responsibilities\n\n\n* Develop and ...
3  ...              NaN  Overview:\n* **Please Note:**\n* **English** l...
4  ...              NaN  **Company Description**  \n\nVersion 1 has cel...

   company_industry                                        company_url  \
0               NaN  https://www.glassdoor.com/Overview/W-EI_IE2219...
1               NaN  https://www.glassdoor.com/Overview/W-EI_IE1047...
2               NaN  https://www.glassdoor.com/Overview/W-EI_IE1027...
3               NaN  https://www.glassdoor.com/Overview/W-EI_IE1185...
4               NaN  https://www.glassdoor.com/Overview/W-EI_IE3398...

                                        company_logo company_url_direct  \
0  https://media.glassdoor.com/sql/221937/bloom-e...               None
1  https://media.glassdoor.com/sql/10471/sap-squa...               None
2                                                NaN               None
3  https://media.glassdoor.com/sql/118542/transwo...               None
4  https://media.glassdoor.com/sql/339862/version...               None

  company_addresses company_num_employees company_revenue company_description
0              None                  None            None                None
1              None                  None            None                None
2              None                  None            None                None
3              None                  None            None                None
4              None                  None            None                None

[5 rows x 28 columns]

In [14]:
jobs.columns

Index(['id', 'site', 'job_url', 'job_url_direct', 'title', 'company',
       'location', 'date_posted', 'job_type', 'salary_source', 'interval',
       'min_amount', 'max_amount', 'currency', 'is_remote', 'job_level',
       'job_function', 'listing_type', 'emails', 'description',
       'company_industry', 'company_url', 'company_logo', 'company_url_direct',
       'company_addresses', 'company_num_employees', 'company_revenue',
       'company_description'],
      dtype='object')

In [15]:
useful_ones = ['title', 'company', 'job_type', 'location', 'job_level', 'description', 'company_industry', 'max_amount', 'company_url', 'date_posted' ,'job_url_direct']

In [16]:
jobs[useful_ones]

,title,company,job_type,location,job_level,description,company_industry,max_amount,company_url,date_posted,job_url_direct
0,Sr Principal Engineer - Data Science,Bloom Energy,NaN,Bengaluru,NaN,Job Description:\nBloom Energy is looking for ...,NaN,542500.0,https://www.glassdoor.com/Overview/W-EI_IE2219...,2025-02-27,NaN
1,Data Scientist,SAP,NaN,Bengaluru,NaN,"**We help the world run better**\n\nAt SAP, we...",NaN,500000.0,https://www.glassdoor.com/Overview/W-EI_IE1047...,2025-02-27,NaN
2,Data Scientist,Zzazz Inc,NaN,Bengaluru,NaN,Roles and Responsibilities\n\n\n* Develop and ...,NaN,800000.0,https://www.glassdoor.com/Overview/W-EI_IE1027...,2025-02-27,NaN
3,Sr. Python Developer/Data Scientist - IT- On s...,"Transworld Systems, Inc.",NaN,Bengaluru,NaN,Overview:\n* **Please Note:**\n* **English** l...,NaN,3500000.0,https://www.glassdoor.com/Overview/W-EI_IE1185...,2025-02-27,NaN
4,Data Storytelling Analyst,Version 1,NaN,Bengaluru,NaN,**Company Description** \n\nVersion 1 has cel...,NaN,800000.0,https://www.glassdoor.com/Overview/W-EI_IE3398...,2025-02-27,NaN
5,Staff Software Machine Learning Engineer,Uber,NaN,Bengaluru,NaN,**About the Role**\n \n\n \n\nWe are looking...,NaN,216000.0,https://www.glassdoor.com/Overview/W-EI_IE5752...,2025-02-27,NaN
6,Senior Machine Learning Engineer,SAP,NaN,Bengaluru,NaN,"**We help the world run better**\n\nAt SAP, we...",NaN,360000.0,https://www.glassdoor.com/Overview/W-EI_IE1047...,2025-02-27,NaN
7,Sr Data Scientist,GE Aerospace,NaN,Bengaluru,NaN,**Job Description Summary**\n=================...,NaN,744000.0,https://www.glassdoor.com/Overview/W-EI_IE8674...,2025-02-27,NaN
8,Senior Data Scientist,Bright Vision Technologies,NaN,India,NaN,Bright Vision Technologies has an immediate Fu...,NaN,NaN,https://www.glassdoor.com/Overview/W-EI_IE1000...,2025-02-27,NaN
9,Senior Data Scientist,Caterpillar,NaN,Bengaluru,NaN,"**Career Area:**\n\nTechnology, Digital and Da...",NaN,700000.0,https://www.glassdoor.com/Overview/W-EI_IE137.htm,2025-02-27,NaN
10,Data Science Expert for Predictive Modeling,Lifelancer,NaN,"Bengaluru, Karnataka",NaN,Job Overview\n\nWe are seeking a skilled Data ...,NaN,NaN,NaN,2025-02-23,NaN
11,data-science-engineer-13181,IBM,NaN,"Bengaluru, Karnataka",NaN,No job summary available.,NaN,NaN,NaN,2025-02-19,NaN
12,Product Manger AI,Accolite,NaN,"Bengaluru, Karnataka",NaN,Key Responsibilities:\n\n· Define & execute AI...,NaN,NaN,NaN,2025-02-18,NaN
13,"JOB POST: Data Scientist at Google, Bangalore ...",Google,NaN,"Bengaluru, Karnataka",NaN,Online applications are invited for Data Scien...,NaN,NaN,NaN,NaN,NaN
14,Senior Manager Data Science,ChargePoint,NaN,"Bengaluru, Karnataka",NaN,"Reports To\n\nSenior Director of Data, Analyti...",NaN,NaN,NaN,NaN,NaN
15,Data Scientist – AI ML Team,CustomerXPs,fulltime,"Bengaluru, Karnataka",NaN,Full Time\n\nBangalore\n\nPosted 3 years ago\n...,NaN,NaN,NaN,NaN,NaN
16,Data Scientist Director - LLM,JP Morgan Chase & Co.,NaN,"Bengaluru, Karnataka",NaN,We're looking for a tech leader ready to take ...,NaN,NaN,NaN,NaN,NaN
17,"Data Scientist, Pricing",Maersk,NaN,"Bengaluru, Karnataka",NaN,Are you enthusiastic about using data to optim...,NaN,NaN,NaN,NaN,NaN
18,Data Scientist & Analyst,iTDAY India,fulltime,Karnataka,NaN,Employment Type:\n\nFull Time\n\nJob Descripti...,NaN,NaN,NaN,NaN,NaN
19,Data Science Associate,JP Morgan Chase & Co.,NaN,"Bengaluru, Karnataka",NaN,"You thrive on diversity and creativity, and we...",NaN,NaN,NaN,NaN,NaN
20,Data Scientist(Power BI),Quantzig,fulltime,"Bangalore Urban, Karnataka, India",associate,**Job Title: Data Scientist(Power BI)** \n\n\n...,"IT Services and IT Consulting, Marketing Servi...",NaN,https://uk.linkedin.com/company/quantzig,NaN,NaN
21,Data Science & Analytics,INTINERI INFOSOL PRIVATE LIMITED,fulltime,"Bengaluru East, Karnataka, India",director,"**Skills:**\n Python, R, SQL, TensorFlow, PyTo...",IT Services and IT Consulting,NaN,https://in.linkedin.com/company/intineri-infos...,NaN,https://www.expertia.ai/intineriinfosol/job/hi...
22,AI/ML Engineer,Eximietas Design,fulltime,"Bangalore Urban, Karnataka, India",mid-senior level,"**Skills:**\n Statistical Analysis, Python Pro...",Engineering Services,NaN,https://www.linkedin.com/company/eximietas-design,NaN,https://www.expertia.ai/eximietas-design/job/h...
23,Data Science,Colan Infotech Private Limited,fulltime,"Bengaluru East, Karnataka, India",director,"**Skills:**\n Machine Learning, Natural Langua...",IT Services and IT Consulting,NaN,https://in.linkedin.com/company/colan-infotech...,NaN,https://www.expertia.ai/colanonline/job/hiring...
24,Python Developer [Required Trainee-02],Neonsoft Technologies,fulltime,"Bangalore North Rural, Karnataka, India",internship,**Job Title** \n : Python Developer Trainee\n ...,Information Services,NaN,https://in.linkedin.com/company/innovatexiq-so...,NaN,https://innovatexiq.zohorecruit.in/jobs/Career...
25,Data Scientist (GenAI),Quantzig,fulltime,"Bangalore Urban, Karnataka, India",associate,**Job Title:** \n Data Scientist\n \n\n\n\n**E...,"IT Services and IT Consulting, Marketing Servi...",NaN,https://uk.linkedin.com/company/quantzig,NaN,NaN
26,AI/ML Engineer,Eximietas Design,fulltime,"Bangalore Urban, Karnataka, India",mid-senior level,"**Skills:**\n Statistical Analysis, Python Pro...",Engineering Services,NaN,https://www.linkedin.com/company/eximietas-design,NaN,https://www.expertia.ai/eximietas-design/job/h...
27,Data Scientist,Colan Infotech Private Limited,fulltime,"Bengaluru East, Karnataka, India",director,"**Skills:**\n Statistical Analysis, Machine Le...",IT Services and IT Consulting,NaN,https://in.linkedin.com/company/colan-infotech...,NaN,https://www.expertia.ai/colanonline/job/hiring...
28,Artificial Intelligence (AI),CELEBRITY WINGS ENTERTAINMENT LLC,fulltime,"Bengaluru East, Karnataka, India",mid-senior level,"**Skills:**\n Machine Learning, Deep Learning,...",Advertising Services,NaN,https://www.linkedin.com/company/celebrity-win...,NaN,https://www.expertia.ai/celebritywings/job/hir...
29,Data Scientist,Colan Infotech Private Limited,fulltime,"Bangalore Urban, Karnataka, India",mid-senior level,"**Skills:**\n Machine Learning, LLM, NLM, ARIM...",IT Services and IT Consulting,NaN,https://in.linkedin.com/company/colan-infotech...,NaN,https://www.expertia.ai/colanonline/job/hiring...

In [19]:
jobs['max_amount'].max()

3500000.0